<div bg-sucess>
  <div class="bg-info p-3 border-sucess">
    <h1>Todo App</h1>
  </div>
  <br />
  <div class="card w-50 m-auto bg-light">
    <div class="input-group mb-3 p-3">
      <input
        type="text"
        class="form-control"
        placeholder="Enter Task"
        [(ngModel)]="todo"
        value="{{ todo }}"
      />
      <span class="input-group-text bg-warning"
        ><button (click)="addTodo(todo)" class="btn border-0">
          Add Todo
        </button></span
      >
    </div>
  </div>
  <br />
  <div class="container bg-warning w-75">
    <h2>All Todos</h2>

    <div id="container">
      <div class="card w-75 mb-1 m-auto" *ngFor="let item of list">
        <div *ngIf="!item.isEdit" class="d-flex flex-row" id="cen">
          <div class="w-50 mx-1" id="inp">
            <p class="m-auto">{{ item.name }}</p>
          </div>
          <div>
            <button (click)="toggel(item)" class="btn btn-danger m-1">
              {{ item.isCompleted == false ? "Pending" : "Completed" }}
            </button>
            <button class="btn btn-success m-1" (click)="edit(item)">
              Edit</button
            ><button class="btn btn-danger" (click)="delete(item.id)">
              Delete
            </button>
          </div>
        </div>

        <div *ngIf="item.isEdit" class="d-flex flex-row" id="cen">
          <div class="w-50 mx-1" id="inp">
            <input
              style="text-align: center"
              class="w-100"
              type="text"
              value="{{ item.name }}"
              [(ngModel)]="item.name"
            />
          </div>
          <div>
            <button class="btn btn-danger m-1" (click)="update(item)">
              Update
            </button>
            <button class="btn btn-success m-1" (click)="edit(item)">
              Cancel</button
            ><button class="btn btn-danger" (click)="delete(item.id)">
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
